.aboutWrapper {
	width: 83%;
	float: left;
	position: relative;
	margin-top: 7.75vw;
	margin-left: 9vw;
	
}

.headshot {
	width: 100%;
	margin-top: 1vw;
	float: left;
	border: 1px solid #D8D8D8;
}

.bio {
	width: 42%;
	float: left;
	margin-left: 3vw;
	text-align: justify;
}

.imgWrapper {
	width: 26.5%;
	float: left;
	position: relative;
}

.imgHoverWrapper {
	display: none;
}

.imgCaption {
	width: 100%;
	height: 5%;
	margin-left: .1vw;
	bottom: 0px;
	position: absolute;
	background-color: rgba(0,0,0,.3);
	text-align: center;

}

.imgHoverWrapper h2 {
	font-size: 1vw;
	color: #D8D8D8;
	position: absolute;
	width: 100%;
	text-align: right;
	bottom: -6px;

}
