.choreo {
	width: 100%;
}

#chorImgNavWrapper {
	width: 83.25%;
	float: left;
	position: relative;
	margin-top: 9vw;
	margin-left: 9vw;
	
}

.imgLinksWrapper {
	width:100%;
	padding:0px;
	float:left;
	position: relative;
	margin-bottom: .5%;
}

.imgHoverWrapper{
	display:none;
	text-align: center;
}

.imgOverlay {
	width: 100%;
	height: 95%;
	position: absolute;
	background-color: rgba(0,0,0,.5);
	text-align: center;
}

.imgHoverWrapper h2 {
	color: white;
	font-size: 3vw;
	text-align: right;
	letter-spacing: 0.5vw;
	position: absolute;
	margin-left: -3%;
	width: 100%;
}