.main {
	width: 83%;
	border-top: 1px solid black;
	float: left;
	position: relative;
	margin-left: 9vw;
	margin-top: 1vw;
	margin-bottom: 1vw;
}

.first {
	margin-top: 9vw;
}

.currentProjectWrapper {
	width: 83%;
	float: left;
	position: relative;
	margin-left: 9vw;
}

.currentImg {
	width: 30%;
	float: left;
	padding-top: 1.5vw;
	padding-bottom: 1.5vw;
	padding-left: 1vw;
}

.currentTextWrapper {
	width: 64%;
	float: left;
	padding-left: 3vw;
	padding-top: 2px;
	padding-bottom: 5px;
}

.currentHeader {
	font-size: 1.3vw;
	margin-bottom: 0px;
}

.currentSubHeader {
	font-size: 1.1vw;
	font-style: italic;
	margin-top: 0px;
}

.currentText {
	margin-top: 7px;
	text-align: justify;
	font-size: 1.25vw;
}

.video {
	color: #B0B0B0;
	font-size: 1.1vw;
	text-decoration: none;
	float: right;
	position: absolute;
	bottom: 0vw;
	right: 0vw;
}


.readMoreText {
	display: none;
}

.readMoreButtons {
	color: #B0B0B0;
	font-size: .9vw;
	cursor: pointer;
	margin-top: -1vw;
	position: absolute; 
}
