/*  INCLUDE FONTS  */
@font-face {
	font-family: 'Computer Modern Serif';
	src: url('./fonts/cmunrm.eot');
	src: url('cmunrm.eot?#iefix') format('embedded-opentype'),
		 url('./fonts/cmunrm.woff') format('woff'),
		 url('./fonts/cmunrm.ttf') format('truetype'),
		 url('cmunrm.svg#cmunrm') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Computer Modern Serif';
	src: url('./fonts/cmunti.eot');
	src: url('cmunti.eot?#iefix') format('embedded-opentype'),
		 url('./fonts/cmunti.woff') format('woff'),
		 url('./fonts/cmunti.ttf') format('truetype'),
		 url('cmunti.svg#cmunti') format('svg');
	font-weight: normal;
	font-style: italic;
}

/*  MY CSS  */

body {
	font-family: 'Computer Modern Serif', serif;
	font-size: 1.3vw;
}

#totalWrapper {
	position: fixed;
	width: 100%;
	z-index: 999;
	background: white;
	margin-top: -1vw;
	opacity: .9;
}
#headerWrapper {
	width: 100%;
	float: left;
}

#name {
	margin-left: 9vw;
	margin-right: 2vw;
	margin-bottom: -1vw;
	float: left;
}

#name a{
	text-decoration: none;
	color: #000;
}

#navigationWrapper {
	float: right;
	margin-top: .5vw;
	/*margin-right: 9vw;*/
	/*display: table;*/
}

#navigationBar {
	list-style-type: none;
	padding: 0;
	float: right;
	margin-right: 9vw;
	margin-top: 2.5vw;
	margin-bottom: 0vw;
}

.navItem {
	display: inline;
	position: relative;
	font-size: 1.1vw;
	padding-left: 3vw;
}

.navItem a {
	text-decoration: none;
	color: #B0B0B0;
}

.navItem a:hover {
	color: #000;
}

.subNav {
	position: absolute;
	list-style-type: none;
	padding-left: 3vw;
	color: #B0B0B0;
	font-size: .9vw;
	margin-top: .5vw;
}

.subNav li:hover a {
	color: #000;
}

.subTitle h2{
	margin-top: -.5vw;
	margin-bottom: 0vw;
	margin-left: 9vw;
	color: #B0B0B0;
}

.break {
	margin-left: 9vw;
	margin-right: 9vw;
	margin-top: 0vw;
}

.footer {
	position: absolute;
	bottom: 0px;
}

.footerText p{
	color: #B0B0B0;
	font-size: 1.1vw;
}

/*#navWrapper {
	width: 50%;
	display: table;
}

#navBar {
	list-style-type: none;
	padding: 0;	
	float: right;
	font-size: 1.15vw;
}

.navItem {
	display: inline;
	position: relative;
	border-left: 1px solid;
	padding-left: 12px;
	padding-right: 12px;
}

.navItem a {
	text-decoration: none;
	color: #000;
}

.navItem a:hover  {
	background: #D8D8D8;
}

.firstNav {
	border-left: none;
}

.subNav {
	position: absolute;
	list-style-type: none;
	padding-left: 12px;
}

.subNav li:hover a {
	background: #D8D8D8;
}

#contact {
	margin-right: 20px;
	right: 0px;
	bottom: 0px;
	position: absolute;
	font-size: 1.1vw;
	word-spacing: 1.1vw;
}
*/


