
.otherWrapper {
	width: 100%;
	float: left;
	position: relative;
	margin-top: 1vw;
	margin-left: 9vw;
	display: none;
}

.headingWrapper {
	width: 90%;
}

#sketchHeading {
	font-size: 1.2vw;
	margin-bottom: .5vw;
}

/*#sketchDeatil {
	font-size: 1vw;
	color: #B0B0B0;
	margin-top: 0vw;
}*/

#sketchWrapper {
	width: 85%;
	/*text-align: center;*/
	margin-top: 0vw;
	margin-bottom: 20px;
}

.imgSketch {
	width: 18%;
	padding-right: 1vw;
	/*padding-left: 10px;*/
}

.fancybox {
	text-decoration: none;
}