
.projects {
	width: 100%;
	float: left;
}

.pastImgWrapper {
	margin-left: 2%;
	margin-right: 2%;
	float: left;
	position: relative;
}

.imgDescriptionWrapper {
	width: 31.3%;
	float: left;
	position: relative;
	margin-top: 20px;
	margin-bottom: 2%;
	margin-left: 1%;
	margin-right: 1%;
}

.imgHoverWrapper{
	display:none;
	text-align: center;
}

.imgOverlay {
	width: 100%;
	height: 100%;
	/*margin-top: 20px;*/
	position: absolute;
	background-color: rgba(0,0,0,.5);
	text-align: center;
}

.imgHoverWrapper h2 {
	width: 31.3%;
	color: white;
	font-size: 1.2vw;
	text-align: left;
	position: absolute;
	margin-left: 1.5%;
	margin-right: 1.5%;
	width: 96%;
}

.imgHoverWrapper p {
	width: 31.3%;
	color: white;
	font-size: 1.1vw;
	text-align: justify;
	position: absolute;
	line-height: 110%;
	margin-top: 10%;
	margin-left: 2%;
	margin-right: 2%;
	width: 96%;
}
