.statementWrapper {
	width: 83%;
	float: left;
	position: relative;
	margin-top: 8vw;
	margin-left: 9vw;
	
}
.statementImg {
	width: 25%;
	margin-top: 1vw;
	float: left;
	border: 1px solid #D8D8D8;
}

.statementText {
	width: 55%;
	float: left;
	margin-left: 2vw;
	text-align: justify;
}

