.statementImg {
	width: 20%;
	margin-left: 40px;
	margin-top: 15px;
	float: left;
	border: 1px solid #D8D8D8;
}

.statementText {
	width: 47%;
	float: left;
	margin-left: 20px;
	margin-top: 15px;
	text-align: justify;
}

.statementWrapper {
	width: 100%;
	float: left;
	position: relative;
	
}